<a href="https://colab.research.google.com/github/SJcodeML/python-tutorials/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AIRTHMETIC OPERATORS :who performs mathematical operations (actions)
OPERANDS : who let you perform operations on them

In [ ]:
a: int = 10
b: int = 3
print("a + b  = ", a + b)   # 13 Addition
print("a - b  = ", a - b)   # 7 Subtraction
print("a * b  = ", a * b)   # 30 Multiplication
print("a / b  = ", a / b)   # 3.3333333333333335 division
print("a // b = ", a // b)  # 3 Floor Division
print("a % b  = ", a % b)   # 1 Modulus (remainder) shift 5
print("a ** b  = ", a ** b)  # 1000 Exponentiation (10 * 10 * 10)  shift 8

In [ ]:
x = 25
y = 4
print ("a+b = " , x+y)

a+b =  29

In [ ]:
a = 44
b = 40
print("a - b = " , a - b)

a - b =  4

In [ ]:
c = 4
d = 5
print ("c * d = " , c * d)

c * d =  20

In [ ]:
f = 4
d = 4

print("f / d = " , f / d)

print ("when we want a single value (floor division) so we use //")

#example

print("f // d = " , f // d)

f / d =  1.0
when we want a single value (floor division) so we use //
f // d =  1

In [ ]:
f = 5
d = 4
print("f % d = " , f % d)

f % d =  1

In [ ]:
g = 19
h = 4
print("g % h = " , g % h)

g % h =  3

In [ ]:
y =  25
z = 2
print("y % z = " , y %z)

y % z =  1

In [ ]:
a = 7
b = 4


print("a ** b  = ", a ** b)

a ** b  =  2401

2. Comparison (Relational) Operators
Used to compare two values.


Operator	Name	Example
==	Equal	5 == 5 → True
!=	Not equal	5 != 3 → True
>	Greater than	5 > 3 → True
<	Less than	5 < 3 → False
>=	Greater than or equal	5 >= 5 → True
<=	Less than or equal	5 <= 3 → False

In [ ]:
a = 9
b = 8

print(a==b)

False

In [ ]:
a = 9
b = 9
print ( a == b)

True

In [ ]:
f  = 6
a =  6
print(f == a)

True

In [ ]:
g = 9
h = 5
print(g == h)

False

**3. Logical Operators**

Used to combine conditional statements.


Operator	Name	Example
and	Logical AND	(5 > 3 and 10 > 5) → True
or	Logical OR	(5 > 3 or 10 < 5) → True
not	Logical NOT	not(5 > 3) → False

In [ ]:
x: bool = True
y: bool = False

print("x and y = ", x and y)  # False
print("x or y  = ", x or y)   # True
print("not x   = ", not x)    # False

In [ ]:
# Example 1: and - both conditions must be true
print(5 > 3 and 2 < 4)  # True

# Example 2: and - one condition false
print(5 > 3 and 2 > 4)  # False

# Example 3: or - at least one true
print(5 > 3 or 2 > 4)   # True

# Example 4: or - both false
print(1 > 2 or 3 > 4)   # False

# Example 5: not - reversing true
print(not(2 < 3))       # False

# Example 6: not - reversing false
print(not(2 > 3))       # True

# Example 7: combining and, or, not
print((5 > 3 and 2 < 4) or not(1 > 2))  # True

# Example 8: checking multiple conditions
a = 10
print(a > 5 and a < 20)                       # True

# Example 9: complex condition
x = 7
print((x > 5 and x < 10) or (x == 7))        # True
      #  True      or           true
# Example 10: using boolean variables
is_raining = True
has_umbrella = False
print(is_raining and has_umbrella)            # False

4. **Assignment Operators**
Used to assign values to variables.


Operator	Example	Equivalent To
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
//=	x //= 3	x = x // 3

In [ ]:

x = 5
print("Assignment: x = 5                    ",x)  # Output: 5

x += 3  # Equivalent to x = x + 3
print("Addition Assignment: x += 3          ",x)  # Output: 8

x -= 3  # Equivalent to x = x - 3
print("Subtraction Assignment: x -= 3       ",x)  # Output: 5

x *= 3  # Equivalent to x = x * 3
print("Multiplication Assignment: x *= 3    ",x)  # Output: 15

x /= 3  # Equivalent to x = x / 3
print("Division Assignment: x /= 3          ",x)  # Output: 5.0

x //= 3  # Equivalent to x = x // 3
print("Floor Division Assignment: x //= 3   ",x)  # Output: 1.0

Assigning Different Values
We can assign different values to multiple variables simultaneously, making the code concise and easier to read.

In [ ]:
x, y, z = 1, 2.5, "Python" # Using type hints while assigning mutiple variables simultaneously cause and error invalid syntax


print(x, y, z)




# x = 5
# y = 10
# z= 9
# print (x+y+z)

1 2.5 Python

In [ ]:
mikaal , aisha , teacher = 9 , 12.3 , "Python"
print (mikaal , aisha , teacher , "they are team mates")

9 12.3 Python they are team mates

In [ ]:
x = 45
print (x)

45

In [ ]:
del x

In [ ]:
print(x)

NameError: name 'a' is not defined